/* GERAL */

body
{
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px;
  padding: 5px;
  line-height: 2;
}

/* TITULO */

.container {
  text-align: center;
  margin-top: 100px; /* Espaçamento acima do h1 */
}

h1 {
  font-size: 48px;
  color: #556b2f; /* Tom de verde militar */
  background-image: url("img/radioteste.jpg"); /* URL da imagem */
  background-size: cover;
  background-position: center;
  padding: 20px; /* Espaçamento interno */
}

h2
{
  font-size: 32px;
  color: #30312d; 
  position: static;
  width: 100%;
  padding: 0px;
  text-align: center;

}

h3
{
  font-size: 32px;
  color: #30312d; 
  width: 100%;
  padding: 0px;
  text-align: center;
}

h4
{
  font-size: 16px;
  color: #30312d; 
  width: 100%;
  padding: 0px;
  margin: 0 0 0 0;
  text-align: center;
}

/* MENU */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:last-child {
    border-right: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  .ajuda 
  {
    background-color: #4d8357;
  }


/* MENU DE CADASTROS */

.Cadastro {
  max-width: 500px;
  margin: 50px auto;
  background-color:#fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(67, 86, 66);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.grupoCadastro {
  margin-bottom: 20px;
  display: block;
  margin-bottom: 5px;
}


input[type="text"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bt_cadastrar 
{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4d8357; 
  color: #fff;
  width: auto;
  align-items: center;
}

.bt_modelo
{
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4d8357; 
  color: #fff;
  width: auto;
  align-items: center;
}



/* CONFIGURACAO DA TABELA */

button
{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#paginaAnterior {
  background-color: #4d8357; /* Verde */
  color: #fff;
}

#paginaAnterior:hover {
  background-color: #4d8357; /* Verde mais escuro ao passar o mouse */
}

#paginaSeguinte{
  background-color: #4d8357; /* Verde claro */
  color: #fff;
}

#paginaSeguinte:hover {
  background-color: #4d8357; /* Verde claro mais escuro ao passar o mouse */
}

#botaoFiltrar{
  background-color: #4d8357; /* Verde claro */
  color: #fff;
}

#botaoFiltrar:hover {
  background-color: #4d8357; /* Verde claro mais escuro ao passar o mouse */
}
.campos {
  width: 80%; 
  height: 80%; 
  margin: 0 auto; 
  align-items: center;

  
}

/* Estilos para a tabela */
#tabela {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #2f4530; 
    margin-left: 160px;
    margin-right: 50px;
}

/* Estilos para as células do cabeçalho */
#tabela th
{
    background-color: #3b5440; 
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; 
}

#tabela td {
    background-color: #4d8357; 
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; 
}

/* Adiciona uma barra de rolagem horizontal quando necessário */
#corpo-tabela {
  overflow-x: auto;
}

/* Define largura mínima para cada coluna da tabela */
#tabela th:nth-child(1),
#tabela td:nth-child(1) {
    min-width: 50px;
}
#tabela th:nth-child(2),
#tabela td:nth-child(2) {
    min-width: 50px;
}

/* Estilos para as linhas alternadas da tabela */
#tabela tbody tr:nth-child(even) {
    background-color: #689a72; 
}

/* Estilos para as células da primeira coluna */
#tabela tbody tr td:first-child {
    background-color: #3b5440; 
    color: white;
}

/* Adaptação da tabela para telas menores */
@media only screen and (max-width: 600px) {
  #tabela th, #tabela td {
      padding: 6px;
  }

  /* Oculta os cabeçalhos das colunas */
  #tabela th {
      display: none;
  }

  /* Mostra as células como blocos empilhados */
  #tabela td {
      display: block;
      border: none;
  }

  /* Estiliza a primeira célula de cada linha (rótulos) */
  #tabela td:nth-child(1) {
      background-color: #f2f2f2;
      font-weight: bold;
  }

  /* Estiliza as células de dados */
  #tabela td:not(:nth-child(1)) {
      border-top: 1px solid #ddd;
  }

  /* Adiciona espaço entre as células */
  #tabela td:not(:nth-child(1))::before {
      content: "\a";
      white-space: pre;
  }
}

/* FILTROS */ 

.hidden {
  display: none;
}

.filtros
{
  top: 300px;
  left: 10px;
  width: 250px; /* Largura do menu */
  height: 470px;
  background-color: #fff;
  padding: 20px;
  border-radius: 0 10px 10px 0; /* Adiciona borda arredondada apenas à direita */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  transition: left 0.3s ease; /* Adiciona transição suave ao movimento */
  position:fixed;
  z-index: -1;

}

@media screen and (max-width: 600px) {
  /* Ajusta o posicionamento e o tamanho da caixa de filtros para telas menores */
  .filtros {
      top: 100px; /* Ajuste conforme necessário */
      left: 10px;
      width: 90%; /* Largura ajustada */
      max-height: 80vh; /* Altura máxima ajustada como 80% da altura da viewport */
      overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
      border-radius: 10px; /* Adiciona borda arredondada */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
      margin: 0 auto; /* Centraliza horizontalmente */
  }
}


/* MENU INICIAL */

.MenuInicial 
{
  width: 100%;
  text-align: center;
}

