*{margin: 0; padding: 0;}

body
{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('radioteste.jpg'); 
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: Arial, sans-serif; 
    font-size: 48px; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    padding: 20px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:last-child {
    border-right: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  .ajuda 
  {
    background-color: #04AA6D;
  }


#Pesquisa {
	/*layout*/
    position: absolute;
	right: 20px;
	margin: 10px;
	width: 80%;
	height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

	/*cores e fontes*/
	color: rgb(66, 91, 70);
	background-color: #F0F0F0 ;
	font-family: arial, helvetica, sans-serif;
}

#Cadastro {
	/*layout*/
    position: absolute;
	right: 20px;
	margin: 10px;
	width: 80%;
	height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

	/*cores e fontes*/
	color: rgb(66, 91, 70);
	background-color: #F0F0F0 ;
	font-family: arial, helvetica, sans-serif;
}

.campos {
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

body, html {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px;
    padding: 5px;
    line-height: 2;
}

/* Estilos para a tabela */
#tabela {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #4CAF50; 
    max-height: 15em; 
    overflow-y: auto; 
}

/* Estilos para as células do cabeçalho */
#tabela th {
    background-color: #4CAF50; 
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; 
}

/* Estilos para as células do corpo da tabela */
#tabela td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

/* Estilos para as linhas alternadas da tabela */
#tabela tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

/* Estilos para as células da primeira coluna */
#tabela tbody tr td:first-child {
    background-color: #3d8e7d; 
    color: white;
}

@media only screen and (max-width: 600px) {
    table, th, td {
        display: block;
    }

    th, td {
        width: 100%;
    }
}
