/* GERAL */

body
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px;
  padding: 5px;
  line-height: 2;
}

/* TITULO */


h2
{
  font-size: 32px;
  color: #30312d; 
  position: static;
  width: 100%;
  padding: 0px;
  text-align: center;

}

h3
{
  font-size: 32px;
  color: #30312d; 
  width: 100%;
  padding: 0px;
  text-align: center;
}

h4
{
  font-size: 16px;
  color: #30312d; 
  width: 100%;
  padding: 0px;
  margin: 0 0 0 0;
  text-align: center;
}

.offcanvas-font-size {
  font-size: 25px; 
}

/* MENU DE CADASTROS */

.Cadastro {
  max-width: 500px;
  margin: 50px auto;
  background-color:#fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(67, 86, 66);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.grupoCadastro {
  margin-bottom: 20px;
  display: block;
  margin-bottom: 5px;
}


input[type="text"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bt_cadastrar 
{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4d8357; 
  color: #fff;
  width: auto;
  align-items: center;
}

.bt_modelo
{
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4d8357; 
  color: #fff;
  width: auto;
  align-items: center;
}



/* CONFIGURACAO DA TABELA */

button
{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#paginaAnterior {
  background-color: #4d8357; /* Verde */
  color: #fff;
}

#paginaAnterior:hover {
  background-color: #4d8357; /* Verde mais escuro ao passar o mouse */
}

#paginaSeguinte{
  background-color: #4d8357; /* Verde claro */
  color: #fff;
}

#paginaSeguinte:hover {
  background-color: #4d8357; /* Verde claro mais escuro ao passar o mouse */
}

#botaoFiltrar{
  background-color: #4d8357; /* Verde claro */
  color: #fff;
}

#botaoFiltrar:hover {
  background-color: #4d8357; /* Verde claro mais escuro ao passar o mouse */
}
.campos {
  width: 80%; 
  height: 80%; 
  margin: 0 auto; 
  align-items: center;

  
}

/* Estilos para a tabela */
#tabela {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #2f4530; 
    margin-left: 0;
    margin-right: 0;
}

/* Estilos para as células do cabeçalho */
#tabela th
{
    background-color: #3b5440; 
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; 
}

#tabela td {
    background-color: #4d8357; 
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; 
}

/* Adiciona uma barra de rolagem horizontal quando necessário */
#corpo-tabela {
  overflow-x: auto;
}

/* Define largura mínima para cada coluna da tabela */
#tabela th:nth-child(1),
#tabela td:nth-child(1) {
    min-width: 50px;
}
#tabela th:nth-child(2),
#tabela td:nth-child(2) {
    min-width: 50px;
}

/* Estilos para as linhas alternadas da tabela */
#tabela tbody tr:nth-child(even) {
    background-color: #689a72; 
}

/* Estilos para as células da primeira coluna */
#tabela tbody tr td:first-child {
    background-color: #3b5440; 
    color: white;
}

/* Adaptação da tabela para telas menores */
@media only screen and (max-width: 600px) {
  #tabela th, #tabela td {
      padding: 6px;
  }

  /* Oculta os cabeçalhos das colunas */
  #tabela th {
      display: none;
  }

  /* Mostra as células como blocos empilhados */
  #tabela td {
      display: block;
      border: none;
  }

  /* Estiliza a primeira célula de cada linha (rótulos) */
  #tabela td:nth-child(1) {
      background-color: #f2f2f2;
      font-weight: bold;
  }

  /* Estiliza as células de dados */
  #tabela td:not(:nth-child(1)) {
      border-top: 1px solid #ddd;
  }

  /* Adiciona espaço entre as células */
  #tabela td:not(:nth-child(1))::before {
      content: "\a";
      white-space: pre;
  }
}

/* FILTROS */ 

.hidden {
  display: none;
}


.filtros
{
  top: 300px;
  left: 10px;
  width: 250px; /* Largura do menu */
  height: 470px;
  background-color: #fff;
  padding: 20px;
  border-radius: 0 10px 10px 0; /* Adiciona borda arredondada apenas à direita */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  transition: left 0.3s ease; /* Adiciona transição suave ao movimento */
  position:fixed;
  z-index: -1;

}




/* MENU INICIAL */


header {
  background-image: url('imgRadio.jpg');
  background-size: cover;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}


main {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}



.logo {
  width: 60%; 
  height: 100%; 
  filter: blur(2px); /* adicione um efeito de desfoque à imagem do logo */
  background-size: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1, .content p {
  margin: 0;
}

.radios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.radio {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.radio img {
  width: 100%;
  height: auto;
}

.radio-info {
  padding: 20px;
}

.radio-info h2 {
  margin-top: 0;
}

.radio-info p {
  margin-bottom: 0;
}
